.login__submit {
	margin: 216px 0 0;
	width: 358px;
	height: 50px;
	border: none;
	outline: none;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	border-radius: 2px;
	cursor: pointer;
}

.login__submit:hover {
	opacity: .85;
	transition: all ease .5s;
}