.profile__avatar {
  display: block;
  grid-column: 1/2;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 918px) {
  .profile__avatar {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media screen and (max-width: 618px) {
  .profile__avatar {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
  }
}
