.form__message {
	font-family: 'Inter', 'Arial', sans-serif;
	margin: 0 auto 28px;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	text-align: center;
}