.profile__info {
  grid-column: 2/3;
  display: grid;
  gap: 7px 18px;
  grid-template: repeat(2, max-content) / repeat(2, max-content);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 918px) {
  .profile__info {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 618px) {
  .profile__info {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    gap: 7px 10px;
  }
}
